body{
	font-family: "Roboto", sans-serif;
}
.defaultWidgetFrame{
	padding:0;
	border : 1px solid #03A9F4;
}

.defaultWidgetFrameHeader{
	padding:0.5rem;
	border-bottom: 1px solid lightgrey;
}

.row{
	display: flex;
	align-items: stretch;
}

.col-md-12{
	width : 100%;
}
.col-md-8{
	width : 66.666666%;
}
.col-md-6{
	width : 50%;
}
.col-md-4{
	width : 33.33333%;
}